.contact-screen {
  content-visibility: auto;
}

.contact-screen__text p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px !important;
}

.contact-screen__contact-label svg {
  width: 20px;
}

.contact-screen__phone {
  display: inline;
  border-bottom: solid 1px var(--font-color-secondary);
  font-size: 18px;
  font-weight: 700;
  color: var(--font-color-primary);
  letter-spacing: -1px;
  text-decoration: none;
  transition: .1s;
}

.contact-screen__phone:hover {
  color: var(--font-color-accent);
  border-color: var(--font-color-accent);
}

.contact-screen__social {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
