.services-screen__services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

@media (max-width: 1280px) {
  .services-screen__services-list {
    gap: 20px;
  }
}

.services-screen__service-item {
  margin-bottom: 50px;
}
