.service-item {
  position: relative;
  width: 300px;
  -webkit-box-shadow: 4px 4px 12px -4px var(--font-color-primary);
  -moz-box-shadow: 4px 4px 12px -4px var(--font-color-primary);
  box-shadow: 4px 4px 12px -4px var(--font-color-primary);
}

.service-item__svg {
  position: absolute;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  top: -4px;
  left: -4px;
}

.service-item__img-container {
  border-bottom: solid 2px var(--font-color-primary);
}

.service-item__image {
  width: 100%;
}

.service-item__text-container {
  padding: 5px 10px;
}

.service-item__title {
  font-family: var(--font-lionel);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.5px;
}

.service-item__description {
  margin-top: 8px;
  font-size: 16px;
  line-height: 19px;
}

.service-item__price {
  margin-top: 10px;
  font-family: var(--font-lionel);
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.5px;
}

.service-item__more {
  padding: 25px 0 20px 0;
  text-align: center;
}

.service-item__action-button {
  padding: 5px 20px 7px 20px;
  font-size: 18px!important;
}
