.title-screen {
  position: relative;
  padding-top: 60px;
  margin-bottom: 80px;
  background: var(--color-brown--lightest);
}

.title-screen__image-left {
  position: absolute;
  z-index: 0;
  width: 450px;
  top: 10px;
  left: -30px;
}

.title-screen__image-left img {
  width: 100%;
}

.title-screen__image-right {
  position: absolute;
  z-index: 0;
  width: 450px;
  top: -10px;
  right: -30px;
}

.title-screen__image-right img {
  width: 100%;
}

.title-screen__title {
  position: relative;
  width: 600px;
  margin: auto;
  text-align: center;
}

.title-screen__header {
  font-family: var(--font-lionel);
  font-size: 75px;
  font-weight: 900;
  letter-spacing: -2px;
}

.title-screen__description {
  margin-top: 10px;
  font-family: var(--font-lionel);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.title-screen__actions {
  position: relative;
  left: 8px;
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin: 40px auto auto auto;
}

.title-screen__action-button {
  padding: 10px 20px;
}
